@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap'); /* é assim que se importa uma fonte do google fonts*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#2b1055, #1c0522);
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 100px;
    z-index: 1000;
}
header .logo {
    width: 120px;
}
header .logo:hover {
    opacity: .8;
}
#navegation ul {
    display: flex;
    align-items: center;
    gap: 30px;
}
#navegation ul li a {
    padding: 4px 14px; 
    font-weight: bold;
    color: white;
    transition: all .3s;
    border-radius: 40px;
}
#navegation ul li a:hover {
    background: white;
    color: rgb(60, 36, 100);
}
#btn-mobile {
    display: none;
}
section {
    margin-bottom: 100px;
    margin-top: 80px;
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
section .main {
    width: 100%;
    height: 700px;
    background: linear-gradient(#7597de, #2b1055) ;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}
section .text {
    font-size: 45px;
    color: white;
    margin-bottom: 30px;
}
section p {
    font-size: 20px;
    color: white;
    margin-bottom: 50px;
}
section .btn {
    padding: 15px 55px;
    background: white;
    font-size: 1.6rem;
    transition: .3s;
    border-radius: 40px;
}
section .btn:hover {
    padding: 20px 60px;
    color: white;
    background: #2b1055;
    font-size: 1.6rem;
    transition: .3s;
    border-radius: 40px;
}
section img {
    max-width: 150px;
    margin-bottom: 30px;
}
section .formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 40px;
    background: linear-gradient(#7597de, #2b1055) ;
    width: 500px;
    border-radius: 40px;
}
section h2 {
    color: white;
    font-size: 2.5rem;
    margin: 2rem;
}
section form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
form label {
    color: white;
    font-size: 17px;
    margin-bottom: 4px;
}
form input {
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: 0.3s;
    border-radius: 30px;
}
form input:focus {
    border-radius: 15px;
}
form textarea {
    padding: 20px;
    outline: none;
    border: 0;
    font-size: 15px;
    border-radius: 30px;
    margin-bottom: 30px;
    transition: .3s;
}
form textarea:focus {
    border-radius: 15px;
}
form button {
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 1.6rem;
    background: white;
    color: #2b1055;
    border-radius: 40px;
    margin-bottom: 20px;
    transition: .3s;
}
form button:hover {
    border-radius: 50px;
    padding: 20px;
    background: #2b1055;
    color: white;
}

/*  rodapé   */
footer {
    margin-top: 0px;
    padding: 35px;
    background: linear-gradient( transparent, #2b1055);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .9em;
}
.footer-bottom {
    margin-top: 30px;
    font-size: .8em;
}
.socials {
    padding: 5px;
    display: flex;
    gap: 15px;
}
.socials li:hover {
    opacity: .6;
}
.rede img {
    width: 20px;
}






/*  MEDIA QUERIES    */

@media (max-width: 760px) {
/* DEFAULT */
body {
    align-items: center;
    justify-content: c;
}
body.active {
overflow-x: hidden;
overflow-y: hidden;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 20px;
    z-index: 1000;
}
#navegation {
    margin: 0;
}
#navegation ul {
    display: flex;
    border-radius: 40px;
    padding: 0px;
    position: absolute;
    width: 100%;
    height: 0px;
    margin-top: 40px;
    flex-direction: column;
    right: 0px;
    background: #1c0522;
    z-index: 1000;
    transition: .7s;
    visibility: hidden;
    overflow: hidden;
}
#navegation.active ul{
    padding: 30px;
    height: calc(100vh - 40px);
    border-radius: 40px;
    visibility:visible
}
#navegation ul li {
    margin: 10px;
    background-color: white;
    padding: 19px 0px;
    border-radius: 30px;
    box-shadow: rgb(196, 196, 196);
}
#navegation #home {
    padding: 20px 130px;
}
#navegation #contato {
    padding: 20px 120px;
}
#navegation #curriculo {
    padding: 20px 115px;
}
#navegation ul li a {
    border-radius: 40px;
    font-weight: bold;
    color: #2b1055;
    transition: all .3s;
    margin: 10px;
    background: white;
}
#navegation ul li a:hover {
    color: white;
    background: #2b1055;
}
header .logo {
    width: 120px;
}
#btn-mobile {
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
}
#burger {
    color: white;
    display: block;
    width: 40px;
    border-top: 6px solid;
    
}
#burger::after, #burger::before {
    content: '';
    display: block;
    width: 40px;
    height: 6px;
    background: currentColor;
    margin-top: 5px;
    transition: all .3s;
    position: relative;
}
#navegation.active #burger {
    border-top-color: transparent;
}
#navegation.active #burger::before {
    transform: rotate(135deg);
}
#navegation.active #burger::after {
    transform: rotate(-135deg);
    top: -11px;
}
    /*  rodapé   */
footer {
    margin-top: 0;
}
.footer-content {
    font-size: 1em;
}
.rede img {
    width: 40px;
}
section {
    margin-top: 150px;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
section .main {
    margin-bottom: 100px;
    padding: 50px 20px;
    width: 100%;
    height: 100%;
    background: linear-gradient(#7597de, #2b1055) ;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}
section .text {
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
}
section p {
    justify-content: center;
    font-size: 15px;
    color: white;
    margin-bottom: 20px;
}
#sorriso {
    font-size: 30px ;
    margin-bottom: 40px;
}
section .btn {
    padding: 15px 55px;
    background: white;
    font-size: 1.6rem;
    transition: .3s;
    border-radius: 40px;
    margin-bottom: 20px;
}
section .btn:hover {
    padding: 20px 60px;
    color: white;
    background: #2b1055;
    font-size: 1.6rem;
    transition: .3s;
    border-radius: 40px;
}
section img {
    margin: 40px 0px;
    width: 100px;
}
/* contato */
section .formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 20px;
    background: linear-gradient(#7597de, #2b1055) ;
    width: 500px;
    height: 100%;
    border-radius: 40px;
}
section h2 {
    margin: 10px;
    color: white;
    font-size: 2rem;
}
section form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
form label {
    color: white;
    font-size: 17px;
    margin-bottom: 4px;
}
form input {
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: 0.3s;
    border-radius: 30px;
}
form input:focus {
    border-radius: 15px;
}
form textarea {
    height: 170px;
    padding: 20px;
    outline: none;
    border: 0;
    font-size: 15px;
    border-radius: 30px;
    margin-bottom: 30px;
    transition: .3s;
}
form textarea:focus {
    border-radius: 15px;
}
form button {
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 1.6rem;
    background: white;
    color: #2b1055;
    border-radius: 40px;
    margin-bottom: 20px;
    transition: .3s;
}
form button:hover {
    border-radius: 50px;
    padding: 20px;
    background: #2b1055;
    color: white;
}
}
    